@import url(https://fonts.googleapis.com/css?family=Varela+Round);


h1 {
  color: hsla(0, 0%, 0%, .9);
  /*font: normal 140px Varela Round, sans-serif;*/
  font-size: 2.5em;
  animation: move linear 4000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1), 
      3px 3px 0 hsla(0, 100%, 50%, 1), 
      2px 2px 0 hsla(0, 100%, 50%, 1), 
      1px 1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1), 
      -3px 3px 0 hsla(0, 100%, 50%, 1), 
      -2px 2px 0 hsla(0, 100%, 50%, 1), 
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1), 
      -3px -3px 0 hsla(0, 100%, 50%, 1), 
      -2px -2px 0 hsla(0, 100%, 50%, 1), 
      -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #e9d7b7;
    color: #333;
}

header {
    background: #003477;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {

  font-family: 'Varela Round', sans-serif;

  font-size: 2.5em;

  color: hsla(0, 0%, 0%, .9);

  animation: move linear 4000ms infinite;  
} 

main {
    padding: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    
    

}

.producto {
    background: #fff;

    margin: 15px;

    padding: 20px;

    width: 300px; 

    text-align: center;

    border: 2px solid #ddd;  

    border-radius: 10px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s, box-shadow 0.3s;


}

.producto:hover {

  transform: translateY(-5px);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


a {
  display: inline-block;

  margin-top: 10px;

  padding: 10px 15px;

  background: #6e9c5c;

  color: white;

  text-decoration: none;

  border-radius: 5px;

  cursor: pointer;

  transition: background 0.3s, transform 0.3s;
}

a:hover {
    background: #668366;
    transform: scale(1.05);
}


footer {
    background: #003477;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.producto_detalle {

    text-align: center;

    padding: 20px;

}


.producto_detalle img {

    max-width: 50%; 

    height: auto; 

    border-radius: 5px;

}