* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ddb771;
    color: #333;
}

header {
    background: #003477;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

main {
    padding: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.producto {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 300px; 
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #5cb85c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background: #4cae4c;
}


footer {
    background: #003477;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.producto-detalle {

    text-align: center;

    padding: 20px;

}


.producto-detalle img {

    max-width: 50%; 

    height: auto; 

    border-radius: 5px;

}